/* General styles for the whole website */

body {
    background-color: #f6fafb;
    font-size: 15px;
    color: #111;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    color: #474787;
}

p {
    line-height: 1.4;
}

figcaption {
    color: #aaa;
}

.btn {
    border: 1px solid currentColor;
    color: #474787;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
    max-width: fit-content;
}

.btn:hover {
    background-color: #474787;
    color: #fff;
}

.btn i {
    margin-left: 5px;
    margin-right: 5px;
}

blockquote {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}
blockquote p {
    margin: 0 0 10px 0;
    padding: 0;
}
.image-left, .image-right {
    float: none;
}

.meta-description {
    color: #000;
}

.meta-description strong {
    color: #474787;
}


.container {
    display: grid;
    grid-template-rows: 75px 1fr 175px;
    grid-template-columns: 100vw;
}

.inside {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;

}

.go-back {
    margin-bottom: 10px;
}

.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tags li {
    display: inline;
    margin-right: 30px;
    color: #474787;
    text-transform: uppercase;
}

.tags li:last-child {
    margin-right: 0;
}


@media (min-width: 700px) {

    .image-right {
        float: right;
    }

    .image-left {
        float: left;
    }
}

@media (min-width: 980px) {

    .inside {
        max-width: 980px;
    }
}

@media (min-width: 1180px) {
    .inside {
        max-width: 1180px;
    }
}

@media (min-width: 1921px) {
    .inside {
        max-width: 1500px;
    }
}